<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" parallel="false">
    <test name="Regression Tests">
        <classes>
            <!-- Add the fully qualified names of your test classes -->
            <class name="tests.LoginTests"/>
        </classes>
    </test>
</suite>